.card {
    padding-bottom: 4px;
    font-size: 120%;
}

.card-body {
    color: var(--color-text);
}

.card-header {
    font-weight: bold;
}

.card-time {
    /* font-size: 150%; */
}

.card-text {

}

button, input[type=submit] {
    background: transparent;
    border: 2px solid var(--color-text);
    color: var(--color-text);
    font-size: 90%;
    width: auto;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
}

.card-button {
    margin-bottom: 12px;
    margin-right: 8px;
}

.card-button-plus {
    width: 28px;
    height: 28px;
}
